<% include partials/header %>
<html>
<head>
</head>
<body>
      <form action="/insert_carType" method="POST">
    <fieldset>
      <legend>Car Type:</legend>
      License Plate of Car:
      <input type="text" name="licensePlateNumber">
      <br>
      Description
      <input type="text" name="description">
      <br>
      Number of Wheelchair
      <input type="text" name="wheelChairNumber">
      <br>
      Number of passeger
      <input type="text" name="passegerNumber">
      <br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</body>
</html>
